/*==================================
  グローバルスタイル
==================================*/
html, body {
  margin: 0;
  padding: 0;
}

:target {
    scroll-margin-top: 80px;
}

/* Container width adjustment */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 20px 30px 20px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.8;
    color: #333;
    background-color: #fff;
    margin: 0;
}

a {
    text-decoration: none;
    color: #00479d;
    transition: all 0.3s ease;
}

a:hover {
    color: #002d6b;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.section-title-en {
    display: block;
    font-size: 16px;
    font-weight: 500; /* 太さを少し抑える */
    letter-spacing: 0.2em; /* 字間を広げて洗練された印象に */
    color: #666; /* 落ち着いたグレーに変更 */
    text-transform: uppercase; /* 大文字にして統一感を出す */
}

.section-title-jp {
    display: block;
    font-size: 32px;
    font-weight: 700;
    margin-top: 5px;
    position: relative;
    padding-bottom: 10px;
    color: #333; /* より濃い色で引き締める */
}

.section-title-jp::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px; /* 下線の長さを少し長くする */
    height: 1px; /* 下線を細くする */
    background-color: #333; /* 下線の色を調整 */
}

.button-container {
    text-align: center;
    margin-top: 40px;
}

.button {
    display: inline-block;
    padding: 15px 40px; 
    background-color: #333; /* 暗い色に変更 */
    color: #fff;
    border-radius: 50px; /* 角を大きく丸くする */
    font-weight: 500; /* フォントを少し細くする */
    border: 1px solid #333;
    transition: all 0.3s ease;
    text-transform: uppercase; /* 大文字にする */
    letter-spacing: 0.1em; /* 字間を広げる */
}

.button:hover {
    background-color: transparent; /* 背景を透明に */
    color: #000; /* テキストを黒に */
    transform: translateY(-5px); /* ホバーで少し大きく浮かせる */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* ホバー時に影を追加 */
}

.new_window_icon {
    margin-left: 10x;
    height: 10px;
}
